
@{
    ViewBag.Title = "DetalleEventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-xxl-12 col-lg-12">
            <div class="panel panel-dark panel-line" id="AyudaBody">
                <header class="panel-heading">
                    <div class="panel-actions"></div>
                    <h3 class="panel-title">DetalleEventos @ViewBag.id</h3>
                </header>
                <div class="panel-body">

                </div>
            </div>

        </div>
    </div>

</div>


