
@{
    ViewBag.Title = "Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-xxl-12 col-lg-12">

            <!-- Tabla DATATABLE-->
            <div class="panel panel-dark panel-line" id="AyudaBody">
                <header class="panel-heading">
                    <div class="panel-actions"></div>
                    <h3 class="panel-title">Listado</h3>
                    <div class="panel-actions">
                        <a class="btn btn-tagged btn-primary waves-effect waves-light font-size-16" href="#" data-target="#AddEventos" data-toggle="modal" id="AnadirEventos">
                            <span class="btn-tag"><i class="icon fa-plus" aria-hidden="true"></i></span>Agregar
                        </a>
                    </div>
                </header>
                <div class="panel-body">
                    <table class="table table-hover table-striped w-full DataTable" >
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Titulo</th>
                                <th>Descripción</th>
                                <th>Desde</th>
                                <th>Hasta</th>
                                <th id="AyudaAccion">Acción</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>id</th>
                                <th>Titulo</th>
                                <th>Descripción</th>
                                <th>Desde</th>
                                <th>Hasta</th>
                                <th>Acción</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Inicio de Clases</td>
                                <td>El 04/02/2020 inicia el año lectivo 2020</td>
                                <td>04/02/2020</td>
                                <td>04/02/2020</td>
                                <td class="actions">
                                    <a href="@Url.Action("DetalleEventos", "Eventos", new { id = 1 })" class="btn btn-sm btn-icon btn-pure btn-default on-default" data-toggle="tooltip" data-original-title="Mostrar Detalle">
                                        <i class="icon fa-eye blue-600" aria-hidden="true" style="font-size: 22px;"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-default" data-original-title="Editar" data-target="#AddEventos" data-toggle="modal">
                                        <i class="icon fa-edit green-600" aria-hidden="true" style="font-size: 22px;"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-default remove-row" data-toggle="tooltip" data-original-title="Eliminar">
                                        <i class="icon fa-trash-o red-600" aria-hidden="true" style="font-size: 22px;"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Primer Examen Parcial</td>
                                <td>Inicia el primer corte evaluativo</td>
                                <td>04-03-2020</td>
                                <td>08-03-2020</td>
                                <td class="actions">
                                    <a href="@Url.Action("DetalleEventos", "Eventos", new { id = 2 })" class="btn btn-sm btn-icon btn-pure btn-default on-default" data-toggle="tooltip" data-original-title="Mostrar Detalle">
                                        <i class="icon fa-eye blue-600" aria-hidden="true" style="font-size: 22px;"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-default" data-original-title="Editar" data-target="#AddEventos" data-toggle="modal">
                                        <i class="icon fa-edit green-600" aria-hidden="true" style="font-size: 22px;"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-default remove-row" data-toggle="tooltip" data-original-title="Eliminar">
                                        <i class="icon fa-trash-o red-600" aria-hidden="true" style="font-size: 22px;"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- Modal Guardar nuevo Evento-->
<div class="modal fade modal-primary example-modal-lg" id="AddEventos" aria-hidden="true" aria-labelledby="AddEventos" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Añadir Nuevo Evento</h4>
            </div>
            <div class="modal-body">

                <div class="example">
                    <div class="form-group">
                        <label class="form-control-label" for="LabelTitulo">Titulo </label>
                        <input type="text" class="form-control" id="InputTitulo" placeholder="Titulo">
                    </div>
                </div>
                <div class="example">
                    <div class="input-daterange" data-plugin="datepicker">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-calendar" aria-hidden="true"></i>
                            </span>
                            <input type="text" class="form-control" name="start" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">to</span>
                            <input type="text" class="form-control" name="end" />
                        </div>
                    </div>
                </div>              
              
                <div class="example">
                    <div class="form-group">
                        <label class="form-control-label" for="LabelDescripcionEventos">Agregar Descripcion</label>
                        <div id="EventoSummernote" class="summernote"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="icol" data-dismiss="modal">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN Modal Guardar nuevo evento-->


@section Scripts
{
    <script src="@Url.Content("~/Resources/Custom/JS/EditorTextoSummernote.js")"></script>
}