

<!-- SIDE MENU BAR-->
<div class="site-menubar" id="AyudaMenu">
    <div class="site-menubar-header">
        <div class="cover overlay bg-blue-grey-700 text-center">
            <img id="PortadaMini" class="cover-image" src="../images/PORTADAS/portada3.png"
                 alt="...">
            <div class="overlay-panel vertical-align overlay-background">
                <div class="vertical-align-middle text-center">
                    <a class="avatar avatar-lg" href="javascript:void(0)">
                        <img src="@Url.Content("~/images/defaultuser.png")" alt="">
                    </a>
                    <div class="site-menubar-info">
                        <h5 class="site-menubar-user">SANTIAGO AGUILAR SILVA</h5>
                        <p class="site-menubar-email">san145silva@hotmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu" data-plugin="menu">

                    <li class="site-menu-category">MAESTRO</li>
                    <li class="site-menu-item has-sub">
                        <a href="index.html">
                            <i class="site-menu-icon icon fa-pie-chart" aria-hidden="true"></i>
                            <span class="site-menu-title">Inicio</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="#">
                            <i class="site-menu-icon icon fa-book" aria-hidden="true"></i>
                            <span class="site-menu-title">Cuaderno de Notas</span><span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item"><a class="animsition-link" href="@Url.Action("Asistencia", "Asistencia")"><span class="site-menu-title">Asistencias</span></a></li>
                            <li class="site-menu-item"><a class="animsition-link" href="#"><span class="site-menu-title">Tareas</span></a></li>
                        </ul>
                    </li>



                    <li class="site-menu-category">PADRES</li>
                    <li class="site-menu-item has-sub">
                        <a href="index.html">
                            <i class="site-menu-icon icon fa-pie-chart" aria-hidden="true"></i>
                            <span class="site-menu-title">Inicio</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="index.html">
                            <i class="site-menu-icon icon icon fa-area-chart" aria-hidden="true"></i>
                            <span class="site-menu-title">Resumen del Año</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="index.html">
                            <i class="site-menu-icon icon icon fa-book" aria-hidden="true"></i>
                            <span class="site-menu-title">Cuaderno de Notas</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="index.html">
                            <i class="site-menu-icon icon fa-address-book " aria-hidden="true"></i>
                            <span class="site-menu-title">Tareas Estudiante</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="PerfilUsuario.html">
                            <i class="site-menu-icon icon fa-user-circle" aria-hidden="true"></i>
                            <span class="site-menu-title">Perfil de Padre</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="Estudiates.html">
                            <i class="site-menu-icon icon fa-user" aria-hidden="true"></i>
                            <span class="site-menu-title">Perfil de Estudiantes</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="Pagos.html">
                            <i class="site-menu-icon icon fa-cc-visa" aria-hidden="true"></i>
                            <span class="site-menu-title">Pagos en Linea</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="Horario.html">
                            <i class="site-menu-icon icon fa-calendar" aria-hidden="true"></i>
                            <span class="site-menu-title">Horario</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="Calendario.html">
                            <i class="site-menu-icon icon fa-calendar-check-o" aria-hidden="true"></i>
                            <span class="site-menu-title">Calendario</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="Notificaciones.html">
                            <i class="site-menu-icon icon fa-bell" aria-hidden="true"></i>
                            <span class="site-menu-title">Mis Notificaciones</span>
                        </a>
                    </li>




                    <li class="site-menu-category">COLEGIO</li>
                    <li class="site-menu-item has-sub">
                        <a href="Colegio.html">
                            <i class="site-menu-icon icon fa-institution" aria-hidden="true"></i>
                            <span class="site-menu-title">Mi Colegio</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="Materias.html">
                            <i class="site-menu-icon icon fa-book" aria-hidden="true"></i>
                            <span class="site-menu-title">Materias</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="Perfil.html">
                            <i class="site-menu-icon icon fa-users" aria-hidden="true"></i>
                            <span class="site-menu-title">Permisos Usuarios</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="Estudiates.html">
                            <i class="site-menu-icon icon fa-user" aria-hidden="true"></i>
                            <span class="site-menu-title">Usuarios</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="Calendario.html">
                            <i class="site-menu-icon icon fa-calendar-check-o" aria-hidden="true"></i>
                            <span class="site-menu-title">Calendario</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="Horario.html">
                            <i class="site-menu-icon icon fa-calendar" aria-hidden="true"></i>
                            <span class="site-menu-title">Horario</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="#">
                            <i class="site-menu-icon icon fa-bar-chart" aria-hidden="true"></i>
                            <span class="site-menu-title">Reportes</span><span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item"><a class="animsition-link" href="#"><span class="site-menu-title">Reportes 1</span></a></li>
                            <li class="site-menu-item"><a class="animsition-link" href="#"><span class="site-menu-title">Reportes 2</span></a></li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="Notificaciones.html">
                            <i class="site-menu-icon icon fa-bell" aria-hidden="true"></i>
                            <span class="site-menu-title">Correo Masivo</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="Carnet.html">
                            <i class="site-menu-icon icon fa-address-card" aria-hidden="true"></i>
                            <span class="site-menu-title">Carnet Escolar</span>
                        </a>
                    </li>




                    <li class="site-menu-category">ESTUDIANTE</li>
                    <li class="site-menu-item has-sub">
                        <a href="index.html">
                            <i class="site-menu-icon icon fa-pie-chart" aria-hidden="true"></i>
                            <span class="site-menu-title">Inicio</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="EvaluacionDocente.html">
                            <i class="site-menu-icon icon fa-check-square-o" aria-hidden="true"></i>
                            <span class="site-menu-title">Evaluacion Docentes</span>
                        </a>
                    </li>


                </ul>
                <div class="site-menubar-section">
                    <h5>
                        Software Gestion Academica
                        <span class="float-right">100%</span>
                    </h5>
                    <div class="progress progress-xs">
                        <div class="progress-bar active" style="width: 100%;" role="progressbar"></div>
                    </div>
                    <h5>
                        Software Gestion Academica
                        <span class="float-right">100%</span>
                    </h5>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-warning" style="width: 100%;" role="progressbar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-menubar-footer">
        <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
           data-original-title="Configuracion">
            <span class="icon wb-settings" aria-hidden="true"></span>
        </a>
        <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Bloquear">
            <span class="icon wb-eye-close" aria-hidden="true"></span>
        </a>
        <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Cerrar Sesión">
            <span class="icon wb-power" aria-hidden="true"></span>
        </a>
    </div>

</div>
<!-- SIDE MENU BAR-->
