
@{
    ViewBag.Title = "Notas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-xxl-12 col-lg-12">

            <!-- Actividads-->
            <div class="panel panel-dark panel-line">
                <header class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xxl-3 col-lg-3">
                                <div class="dropdown" style="width:250px; z-index:1;">
                                    <select class="form-control" data-plugin="select2" data-style="btn-outline btn-primary" data-allow-clear="true">
                                        <option>Seleccionar Parcial</option>
                                        <optgroup label="Semestre 1">
                                            <option value="S1P1">Parcial 1</option>
                                            <option value="S1P2">Parcial 2</option>
                                            <option value="S1P3">Parcial 3</option>
                                            <option value="S1P4">Parcial 4</option>
                                        </optgroup>
                                        <optgroup label="Semestre 2">
                                            <option value="S2P1">Parcial 1</option>
                                            <option value="S2P2">Parcial 2</option>
                                            <option value="S2P3">Parcial 3</option>
                                            <option value="S2P4">Parcial 4</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-3">
                                <div class="dropdown" style="width:250px; z-index:1;">
                                    <select class="form-control" data-plugin="select2" data-style="btn-outline btn-primary" data-allow-clear="true">
                                        <option>Seleccionar Tipo de Actividad</option>
                                        <option class="blue-800">Tarea en Casa</option>
                                        <option class="blue-800">Tarea en Clase</option>
                                        <option class="blue-800">Proyecto</option>
                                        <option class="blue-800">Sistematico</option>
                                        <option class="blue-800">Examen</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-actions">
                        <a class="btn btn-tagged btn-primary waves-effect waves-light font-size-16" href="#" data-target="#AddActividad" data-toggle="modal" id="AnadirActividad">
                            <span class="btn-tag"><i class="icon fa-plus" aria-hidden="true"></i></span>Añadir
                        </a>
                        <a class="btn btn-tagged btn-success waves-effect waves-light font-size-16" href="#" id="GuardarActividad">
                            <span class="btn-tag"><i class="icon fa-save" aria-hidden="true"></i></span>Guardar
                        </a>
                    </div>
                </header></br>
                <div class="panel-body">

                    <div class="scrollbar" id="style-2">
                        <div class="force-overflow">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- Tabla para columnas diagonales-->
                                    <table class="table-header-rotated table-striped table-hover table-striped-column addcolumntable" id="TblActividad">
                                        @*<col width="250">
                                            <col width="40">*@
                                        <thead>
                                            <tr>
                                                <th class="row-header font-size-18 blue-grey-700">Estudiantes</th>
                                                <!-- Following headers are rotated -->
                                                <th class="rotate-45"><div data-target="#AddActividad" data-toggle="modal"><span><i class="icon fa-close" aria-hidden="true"></i> Agregar </span></div></th>
                                                <th class="rotate-45"><div><span>Tarea #1</span></div></th>
                                                <th class="rotate-45"><div><span>Tarea #2 </span></div></th>
                                                <th class="rotate-45"><div><span>Proyecto #1</span></div></th>
                                                <th class="rotate-45"><div><span>Sistematico #1 </span></div></th>
                                                <th class="rotate-45"><div><span>Proyecto #2 </span></div></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">
                                                    <br>
                                                    <!-- Search Panel -->
                                                    <div class="input-search input-group-sm">
                                                        <i class="input-search-icon fa-filter red-600" aria-hidden="true"></i>
                                                        <input type="text" class="form-control" name="" placeholder="Filtrar..." onkeyup="" id="FiltroAlumno">
                                                    </div>
                                                    <br>
                                                    <!-- End Search Panel -->
                                                </td>
                                                <td class="row-body"> </td>
                                                <td class="row-body">
                                                    <button type="button" class="btn btn-icon btn-pure btn-primary EliminarActividad">
                                                        <i class="icon fa-close red-600" aria-hidden="true" style="font-size: 15px;"></i>
                                                    </button></br>
                                                    <button type="button" class="btn btn-icon btn-pure btn-primary EditarActividad">
                                                        <i class="icon fa-pencil-square-o green-600" aria-hidden="true" style="font-size: 15px;"></i>
                                                    </button>
                                                </td>
                                                <td class="row-body">
                                                    <button type="button" class="btn btn-icon btn-pure btn-primary EliminarActividad">
                                                        <i class="icon fa-close red-600" aria-hidden="true" style="font-size: 15px;"></i>
                                                    </button></br>
                                                    <button type="button" class="btn btn-icon btn-pure btn-primary">
                                                        <i class="icon fa-pencil-square-o green-600" aria-hidden="true" style="font-size: 15px;"></i>
                                                    </button>
                                                </td>
                                                <td class="row-body">
                                                    <button type="button" class="btn btn-icon btn-pure btn-primary EliminarActividad">
                                                        <i class="icon fa-close red-600" aria-hidden="true" style="font-size: 15px;"></i>
                                                    </button></br>
                                                    <button type="button" class="btn btn-icon btn-pure btn-primary">
                                                        <i class="icon fa-pencil-square-o green-600" aria-hidden="true" style="font-size: 15px;"></i>
                                                    </button>
                                                </td>
                                                <td class="row-body">
                                                    <button type="button" class="btn btn-icon btn-pure btn-primary EliminarActividad">
                                                        <i class="icon fa-close red-600" aria-hidden="true" style="font-size: 15px;"></i>
                                                    </button></br>
                                                    <button type="button" class="btn btn-icon btn-pure btn-primary">
                                                        <i class="icon fa-pencil-square-o green-600" aria-hidden="true" style="font-size: 15px;"></i>
                                                    </button>
                                                </td>
                                                <td class="row-body">
                                                    <button type="button" class="btn btn-icon btn-pure btn-primary EliminarActividad">
                                                        <i class="icon fa-close red-600" aria-hidden="true" style="font-size: 15px;"></i>
                                                    </button></br>
                                                    <button type="button" class="btn btn-icon btn-pure btn-primary">
                                                        <i class="icon fa-pencil-square-o green-600" aria-hidden="true" style="font-size: 15px;"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="font-size-18 blue-grey-700">Obama, Barak</td>
                                                <td class="row-body"></td>
                                                <td class="row-body">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 blue-grey-700">
                                                            15
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="row-body">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 blue-grey-700">
                                                            20
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="row-body">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 red-700">
                                                            5
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="row-body">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 blue-grey-700">
                                                            10
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="row-body">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 red-700">
                                                            5
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="font-size-18 blue-grey-700">Regan, Ronald</td>
                                                <td class="row-body "></td>
                                                <td class="row-body ">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 blue-grey-700">
                                                            17
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="row-body ">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 blue-grey-700">
                                                            17
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="row-body ">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 blue-grey-700">
                                                            8
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="row-body ">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 blue-grey-700">
                                                            8
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="row-body ">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 red-700">
                                                            1
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="font-size-18 blue-grey-700">Washington, George</td>
                                                <td class="row-body"></td>
                                                <td class="row-body">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 red-700">
                                                            10
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="row-body">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 blue-grey-700">
                                                            17
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="row-body">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 blue-grey-700">
                                                            9
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="row-body">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 blue-grey-700">
                                                            9
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="row-body">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 blue-grey-700">
                                                            15
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="font-size-18 blue-grey-700">Alejandro Aguilar</td>
                                                <td class="row-body"></td>
                                                <td class="row-body">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 blue-grey-700">
                                                            20
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="row-body">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 blue-grey-700">
                                                            20
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="row-body">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 blue-grey-700">
                                                            10
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="row-body">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 blue-grey-700">
                                                            10
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="row-body">
                                                    <div data-target="#AddNotaIndividual" data-toggle="modal">
                                                        <span class="font-size-18 blue-grey-700">
                                                            20
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>

            </div>
            <!-- FIN Actividads -->

        </div>
    </div>

</div>

<!-- Modal Guardar nueva Actividad-->
<div class="modal fade modal-primary" id="AddActividad" aria-hidden="true" aria-labelledby="AddActividad" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Añadir Nueva Actividad</h4>
            </div>
            <div class="modal-body">

                <div class="example">
                    <div class="form-group">
                        <label class="form-control-label" for="LabelParcialActividad">
                            Tipo de Actividad
                            <span class="required">*</span>
                        </label>
                        <select class="form-control" data-plugin="select2" data-style="btn-outline btn-primary" data-allow-clear="true">
                            <option>Seleccionar Tipo de Actividad</option>
                            <option class="blue-800">Tarea en Casa</option>
                            <option class="blue-800">Tarea en Clase</option>
                            <option class="blue-800">Proyecto</option>
                            <option class="blue-800">Sistematico</option>
                            <option class="blue-800">Examen</option>
                        </select>
                    </div>
                </div>
                <div class="example">
                    <div class="form-group">
                        <label class="form-control-label" for="LabelNombre">
                            Nombre
                            <span class="required">*</span>
                        </label>
                        <input type="text" class="form-control" id="InputNombreActividad" placeholder="Seleccionar Nombre de Actividad">
                    </div>
                </div>

                <div class="example">
                    <div class="form-group">
                        <label class="form-control-label" for="LabelDescripcionActividad" placeholder="Seleccionar Descripción de Actividad ">Descripción</label>
                        <div class="form-group">
                            <textarea class="form-control" style="margin-top: 0px; margin-bottom: 0px; height: 61px;"></textarea>
                        </div>
                    </div>
                </div>


                <div class="example">
                    <div class="form-group">
                        <label class="form-control-label" for="LabelFechaActividad">
                            Seleccionar Fecha
                            <span class="required">*</span>
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-calendar" aria-hidden="true"></i>
                            </span>
                            <input type="text" class="form-control" data-plugin="datepicker">
                            <!-- <button id="icol">Insertar Columna</button> -->
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="icol" data-dismiss="modal">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN Modal Guardar nueva Actividad-->

<!-- Modal Modificar NotaIndividual-->
<div class="modal fade modal-primary" id="AddNotaIndividual" aria-hidden="true" aria-labelledby="AddNotaIndividual" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Modificar Nota Individual</h4>
            </div>
            <div class="modal-body">

                <input id="NotaSeleccionada" readonly style="display:none;" />
                <div class="example">
                    <div class="form-group">
                        <label class="form-control-label" for="LabelNombre">
                            Nombre
                            <span class="required">*</span>
                        </label>
                        <input type="text" class="form-control" id="InputNotaIndividual" placeholder="Modificar Nota">
                    </div>
                </div>

                <div class="example">
                    <div class="form-group">
                        <label class="form-control-label" for="inputUserName">Agregar Observaciones</label>
                        <div class="form-group">
                            <textarea class="form-control" style="margin-top: 0px; margin-bottom: 0px; height: 61px;"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="GuardarNotaIndividual" data-dismiss="modal">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN Modal Justificar NotaIndividual-->



@section Scripts
{
    <script src="@Url.Content("~/Resources/Custom/JS/Notas.js")"></script>
}



